/**body**/
/** fin body**/
/** h1 **/
/**FIN h1**/
/**h2**/
/**h3**/
/**h4**/
/**h5**/
/**card title**/
/**Card-text**/
/**footer**/
/** boton buscador**/
body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5em !important;
  font-weight: 800;
  color: #6c5ce7;
}

h2 {
  font-size: 1.8rem;
  color: #f6b60e;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: #6c5ce7;
}

/**logo**/
.logo {
  width: 200px;
}

/**navbar**/
.navbar-light .navbar-nav .nav-link {
  color: #968bea;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #6c5ce7;
}

.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: #f6b60e;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #f6b60e;
}

.dropdown-item {
  color: #6c5ce7;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #f6b60e;
  text-decoration: none;
  background-color: #f8f9fa;
}

.form-control:focus {
  color: #968bea;
  background-color: #fff;
  border-color: #6c5ce7;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #6c5ce7;
}

.form-control::placeholder {
  color: #968bea;
}

.form-control {
  border-color: #968bea;
}

/**buttons**/
.btn-outline-success {
  color: #f6b60e;
  border-color: #f6b60e;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #968bea;
  border-color: #6c5ce7;
}

.btn-outline-success.focus,
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem #f6b60e;
}

.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #f6b60e;
  border-color: #968bea;
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem;
}

/**contenido principal**/
.contenido-header {
  display: flex;
  justify-content: space-between;
}
.contenido-header .subtitulo {
  font-size: 20px;
  margin-top: 4rem;
  color: #968bea;
}
.contenido-header .imagen-principal {
  width: 33rem;
}

/**buscador**/
.buscador {
  display: flex;
  justify-content: center;
  margin-top: 3rem !important;
}

.boton-buscar {
  margin-left: 0.5rem;
}

.custom-select {
  color: #968bea;
  border: 1px solid #6c5ce7;
}

.custom-select:focus {
  border-color: #968bea;
  box-shadow: 0 0 0 0.2rem #6c5ce7;
}

/**MAIN**/
.contenido-principal {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}
.contenido-principal .imagen-encuentra:hover {
  transform: scale(1.1);
}
.contenido-principal .imagen-publica:hover {
  transform: scale(1.1);
}

/** DESCUBRE CIUDADES**/
.descubrir {
  margin-top: 5rem;
}
.descubrir h2 {
  text-align: center;
  margin-top: 3rem;
}

.ciudades {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.ciudades img {
  width: 200px;
  margin-top: 2rem;
}

.carousel,
.carousel-inner > .item > img {
  width: 310px;
}

.carousel {
  margin: 0 auto;
}

.copenhague:hover,
.barcelona:hover,
.paris:hover,
.londres:hover {
  transform: scale(1.2);
}

/**FIN MAIN**/
/**SECCION EXTRA**/
.porque-nosotros {
  margin-top: 5rem;
}

.nosotros {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.nosotros img {
  width: 200px;
}
.nosotros img:hover {
  transform: scale(1.2);
}

/**FIN-SECCION EXTRA**/
.indigo {
  background-color: #cfcfd4;
}

.margen {
  margin-top: 5rem;
}

.list-unstyled {
  display: flex;
  justify-content: space-between;
}

.follow {
  font-size: 1rem;
}

.enlace-arriba {
  position: absolute;
  right: 1rem;
  bottom: 17rem;
}
.enlace-arriba .btn-outline-success {
  border-width: 3px;
}

/**BUSQUEDA**/
.carousel-imagen {
  width: 255px !important;
}

.row-2 {
  width: 52%;
  margin-top: 2rem;
}

.container-dos {
  margin-right: 191px;
}

.mapa {
  position: fixed;
  top: 10rem;
  right: 1rem;
  width: 692px;
  height: 28rem;
}

.card-title {
  font-size: 1rem;
}

.card-text {
  font-size: 0.75rem;
}

.carousel-size {
  width: 255px;
}

/**MEDIAQUERIES**/
@media only screen and (min-width: 300px) and (max-width: 590px) {
  .contenido-header .imagen-principal {
    width: 24rem;
    text-align: center;
  }

  .contenido-header {
    flex-wrap: wrap;
  }

  .contenido-principal {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .contenido-principal .imagen-publica-1 {
    padding: 0;
    width: 15rem;
  }
  .contenido-principal .imagen-encuentra-1 {
    padding: 0;
    width: 15rem;
  }

  .nosotros {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .nosotros img {
    margin: auto;
    display: block;
  }

  .list-unstyled {
    flex-wrap: wrap;
  }

  .enlace-arriba {
    bottom: 12rem;
  }

  .mapa {
    display: none;
  }

  .card {
    width: 16rem;
  }
  .card .card-body {
    width: 16rem;
  }
}
@media only screen and (min-width: 450px) and (max-width: 590px) {
  .alineacion {
    display: block;
    margin: 0 auto;
  }

  .card {
    width: 16rem;
  }
  .card .card-body {
    width: 16rem;
  }
}
@media only screen and (min-width: 591px) and (max-width: 767px) {
  .imagen-principal {
    width: 24rem;
  }

  .contenido-header {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .contenido-principal {
    text-align: center;
  }
  .contenido-principal .imagen-publica-1 {
    padding: 0;
    width: 15rem;
  }
  .contenido-principal .imagen-encuentra-1 {
    padding: 0;
    width: 15rem;
  }

  .nosotros img {
    width: 169px;
    margin-left: 10px;
  }

  .nosotros {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .mapa {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 960px) {
  .contenido-header .imagen-principal {
    width: 22rem;
  }

  .contenido-principal {
    text-align: center;
  }
  .contenido-principal .imagen-publica-1 {
    padding: 0;
    width: 19rem;
  }
  .contenido-principal .imagen-encuentra-1 {
    padding: 0;
    width: 19rem;
  }

  .nosotros img {
    width: 169px;
  }

  .app {
    bottom: -4rem;
    text-align: center;
    left: 49rem;
  }

  .mapa {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
